
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li>@Html.ActionLink("Make A Reservation", "Reserve", "RoomReservation")</li>
            <li>@Html.ActionLink("Find An Existing Reservation", "Lookup", "RoomReservation")</li>
        </ul>
    </div>
</body>
</html>
